.comment {
    flex: 0 1 100%;
    padding: 5px 1.75%;
    margin-bottom: 25px;
    background-color: var(--card-bg);
    color: antiquewhite;
    border-radius: .75rem;
    width: min(710px, 85vw);
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment-footer {
    display: flex;
}

.comment-info, .comment-info b, .comment-replies p, .comment-votes p {
    font-size: 14px;
}

.comment-replies, .comment-votes {
    display: inline-flex;
    align-items: center;
    margin-right: 25px;
    gap: 5px;
}

.comment-replies {
    cursor: pointer;
}

.comment-footer img {
    width: 16px;
}

.comment-content {
 width: 100%;
}

.media-container .post-link {
    color: aquamarine;
}

.media-container .post-link::after {
    content: ' \01F517';
}

video, #main-image, iframe {
    max-width: 100%;
    max-height: 600px;
    /* height: min-content; */
    display: block;
    margin-inline: auto;
}

.comment-content p:first-of-type {
    margin: 0;
}

.replies .comment {
    width: 100%;
    background-color: hsl(0deg 0% 27%);
}