#body {
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loader.loading {
    overflow: hidden;
    width: 200px;
    height: 10px;
    background-color: hsla(200, 80%, 40%, 1);
    border-radius: 25px;
    animation: 2.5s cubic-bezier(.6,.11,.05,.99) grow_shrink;
  }
  
  @keyframes grow_shrink {
    from{transform: translateX(-100px)}
    to {transform: translateX(0px)}
    from {width: 0px} to {width: 200px}
  }
  
  #loader-2.loading {
    margin: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100%;
    background-color: hsla(200, 80%, 50%, 1);
    border-radius: 10px;
    animation: 2s ease-in-out infinite  grow_shrink_2;
  }
  
  @keyframes grow_shrink_2 {
    from{transform: translateX(-1200px)}
    to {transform: translateX(200px)}
    from{width: 0px} to{width: 200px}
  }