:root {
  --main-blue: hsl(200, 80%, 40%);
  --card-bg: hsl(0, 0%, 17%);
}

.App {
  margin-top: 82px;
  min-height: calc(100vh - 82px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: rgb(34, 34, 34);
  color: antiquewhite;
}